body {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto !important;
    font-family: 'Open-Sans';
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#profile {
    margin-top: -100px;
}
#profile .profile-picture {
    width: 200px;
    border: 8px white solid;
}
#profile .sosial-media {
    width: 40px;
}

.copy-right {
    background-color: rgba(0, 0, 0, 0.2);
}

#modal-sertifikat-data tr td {
    font-size: 12px;
}

@media (max-width: 576px) {
    #profile {
        margin-top: -50px;
    }
    #profile .profile-picture {
        width: 100px;
        border: 4px white solid;
    }
    #profile .sosial-media {
        width: 25px;
    }
}