body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Open-Sans';
}

#profile {
    margin-top: -100px;
}
#profile .profile-picture {
    width: 200px;
    border: 8px white solid;
}
#profile .sosial-media {
    width: 40px;
}

.copy-right {
    background-color: rgba(0, 0, 0, 0.2);
}

#modal-sertifikat-data tr td {
    font-size: 12px;
}